html {
  font-size: 10px;
  background-color: $color-text-light;
  scroll-behavior: smooth;
}
.main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.transition,
.transition *,
.transition *:before,
.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  @extend %font;
  background: linear-gradient(165deg, #280228, #826a6a 81%);
}

.body_lock {
  overflow: hidden;
}

.hidden {
  display: none;
}

h2 {
  margin: 0;
  @include font(4rem, 8rem);
  @extend %font;
  text-align: center;
  @include media-tablet {
    @include font(3.2rem, 4rem);
  }
}

p {
  @include font(2rem, 5rem, $wight: 400);
  @extend %font;
  text-align: center;
  margin: 0;
  @include media-mobile {
    @include font(1.5rem, 4rem, $wight: 300);
    line-height: 4rem;
  }
}
