.button {
  width: 75%;
  height: auto;
  padding: 6px 0px;
  font-family: Inter;
  border-radius: 10px;
  background: linear-gradient(209deg, #f2e8ee, #dfbaba 81%);
  @include font(2rem, 4rem, $wight: normal);
  cursor: pointer;
  text-align: center;

  color: $blackMat;
  &:hover {
    background: linear-gradient(
      125deg,
      rgb(66, 51, 66),
      rgb(130, 106, 106) 81%
    );
    box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
    color: $white;
  }
  @extend %transition;
  &_active {
    background-color: $color-fill;
    color: $blackMat;
    &:hover {
      color: $color-hovered;
    }
  }
}
