.score-block {
  display: flex;
  background: $background-score-block;
  box-shadow: $shadow;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem 1rem;
  @include media-mobile {
    padding: 0.5rem 1rem;
    gap: 0.4rem;
  }

  .title {
    width: 150px;
    display: flex;
    justify-content: center;
    @include media-mobile {
      width: 85px;
    }
    @include media-mobile-medium {
      width: 80px;
    }
    .time_counter {
      width: 50px;
    }
  }

  .step__title,
  .score__title {
    @include media-mobile {
      width: 85px;
    }
    @include media-mobile-medium {
      width: 65px;
    }
    @include media-mobile-small {
      width: 45px;
    }
  }
}

.time,
.step,
.score {
  display: flex;
  align-items: center;
  width: 100%;
}
