.main__wrapper {
  display: flex;
  align-items: center;
  padding-top: 50px;
  position: relative;
}
.game-board {
  max-width: 100%;

  background: linear-gradient(125deg, rgb(40, 2, 40), rgb(130, 106, 106) 81%);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 2rem;

  pointer-events: none;
}

.picture,
.backside {
  width: 100%;
  height: 100%;

  // cursor: pointer;
  border-radius: 10%;
  position: absolute;
  pointer-events: none;
}
.card {
  height: 14rem;
  width: 14rem;
  @include media-tablet {
    width: 12rem;
    height: 12rem;
  }
  @include media-mobile {
    width: 6rem;
    height: 6rem;
  }
  @include media-mobile-medium {
    width: 5rem;
    height: 5rem;
  }
  @include media-mobile-small {
    width: 3rem;
    height: 3rem;
  }

  position: relative;
  @extend %transition;
  box-shadow: $color-fill;
  transform-style: preserve-3d;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 0px 10px 10px rgb(16 17 17 / 35%);
  }
}
.backside {
  backface-visibility: hidden;
  background: linear-gradient(209deg, #f2e8ee, #dfbaba 81%);
  &:hover {
    background: $color-blacgraund-header;
    @extend %transition;
  }
}

.card__toggle {
  transform: rotateY(180deg);
}
.active {
  pointer-events: none;
}
