.game-board__field {
  width: 840px;
  height: 680px;
  @include media-tablet {
    width: 650px;
    height: 750px;
  }
  @include media-mobile {
    width: 380px;
    height: 430px;
  }
  @include media-mobile-medium {
    width: 335px;
    height: 400px;
  }
  @include media-mobile-small {
    width: 260px;
    height: 240px;
  }

  // width: 85%;

  background: linear-gradient(125deg, rgb(40, 2, 40), rgb(130, 106, 106) 81%);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;

  pointer-events: none;
}
//
// .game-board__field {
//   display: grid;
//   position: fixed;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   justify-content: center;
//   pointer-events: none;
//   grid-gap: 1rem;
//   grid-template-columns: repeat(5, 22rem);
//   grid-template-rows: repeat(4, 22rem);
//   // perspective: 800px;
// }
.picture,
.backside {
  width: 100%;
  height: 100%;

  // cursor: pointer;
  border-radius: 10%;
  position: absolute;
  pointer-events: none;
}
.card {
  height: 14rem;
  width: 14rem;
  @include media-tablet {
    width: 12rem;
    height: 12rem;
  }
  @include media-mobile {
    width: 6rem;
    height: 6rem;
    // @media (orientation: landscape) {
    //   width: 6rem;
    //   height: 6rem;
    // }
  }
  @include media-mobile-medium {
    width: 5rem;
    height: 5rem;
  }
  @include media-mobile-small {
    width: 3rem;
    height: 3rem;
  }

  // pointer-events: auto;
  position: relative;
  @extend %transition;
  box-shadow: $color-fill;
  transform-style: preserve-3d;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 0px 10px 10px rgb(16 17 17 / 35%);
  }
}
.backside {
  // @extend %transition;
  backface-visibility: hidden;
  background: linear-gradient(209deg, #f2e8ee, #dfbaba 81%);
  &:hover {
    background: $color-blacgraund-header;
    @extend %transition;
  }
}
.picture {
  // display: none;
}

.card__toggle {
  transform: rotateY(180deg);
}
.active {
  pointer-events: none;
}
