.header__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 150px;
  column-gap: 10px;
  background: $color-blacgraund-header;
  @include media-mobile {
    align-items: stretch;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @extend %transition;
  img {
    fill: $color-fill;
    &:hover {
      @extend %transition;
      filter: $hover;
    }
  }
}

.search-block {
  display: block;
  position: relative;
  .fa-search {
    position: absolute;
    cursor: pointer;
    top: 17%;
    left: 5%;
    transition: 0.5s;
    @include media-mobile {
      top: 12%;
    }
  }
}
.search-app {
  padding: 0 15px 0 40px;
  border-radius: 15px;
  height: 35px;
  border: $color-text-light;
  &:focus {
    border-color: $color-text-light;
    @extend %transition;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  // -webkit-appearance: none;
  cursor: pointer;
}

.fa-search {
  &:before {
    content: "\f002";
    font-family: FontAwesome;
    color: $color-text-light;
  }
  &:hover {
    @extend %transition;
    filter: $hover;
  }
}

.search-error {
  position: absolute;
  top: 40px;
  @include font(1.6rem, 2rem, $wight: 400);
  @extend %font;
  @extend %transition;
}
