.header__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  min-height: 10rem;
  column-gap: 1rem;
  // background: $color-blacgraund-header;
  @include media-mobile {
    align-items: stretch;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @extend %transition;
  img {
    fill: $color-fill;
    &:hover {
      @extend %transition;
      filter: $hover;
    }
  }
}
