.start-window {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  z-index: 1000;
  background-color: orange;
  padding: 2%;
  border-radius: 10%;
  // .__hidden {
  //   display: none;
  // }
}
.start-window__hidden {
  display: none;
}
