.start-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  @include media-mobile {
    width: 75%;
  }
  @include media-mobile-small {
    width: 60%;
  }

  height: auto;
  z-index: 1000;
  background: linear-gradient(125deg, rgb(40, 2, 40), rgb(130, 106, 106) 81%);
  box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
  padding: 2%;
  border-radius: 1rem;
  @extend %transition;
  // .__hidden {
  //   display: none;
  // }
}
.start-window__hidden {
  display: none;
  @extend %transition;
}
