.start-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  // top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  @include media-laptop {
    width: 45%;
  }

  height: auto;
  gap: 1rem;
  z-index: 1000;
  background: $background-start-window;
  box-shadow: $shadow;
  padding: 2%;
  border-radius: 1rem;
  @extend %transition;
}

input {
  cursor: pointer;
  color: $color-text-light;
  width: 75%;
  line-height: 4rem;
  border-radius: 1rem;
  padding: 0 1rem;
  @include media-mobile {
    line-height: 2.5rem;
  }
}

.start-window_hidden {
  display: none;
  @extend %transition;
}
