.score-block {
  display: flex;
  // border: 2px solid $white;
  background: $background-score-block;
  box-shadow: $shadow;
  border-radius: 1rem;
  gap: 1rem;
  @include media-mobile {
    gap: 0.4rem;
  }
  @include media-mobile-small {
    display: none;
  }

  .title {
    width: 150px;
    display: flex;
    justify-content: center;
    @include media-mobile {
      width: 110px;
    }
    .time_counter {
      width: 50px;
    }
  }
}
.time,
.step,
.score {
  display: flex;
  align-items: center;
}
