.score-block {
  display: flex;
  // border: 2px solid $white;
  background: linear-gradient(125deg, rgb(40, 2, 40), rgb(130, 106, 106) 81%);
  box-shadow: 12px 15px 20px 0 rgb(46 61 73 / 50%);
  border-radius: 10px;
  gap: 10px;
  @include media-mobile {
    gap: 4px;
  }
  .title {
    width: 150px;
    display: flex;
    justify-content: center;
    @include media-mobile {
      width: 110px;
    }
    .time_counter {
      width: 50px;
    }
  }
}
.time,
.step,
.score {
  display: flex;
  align-items: center;
}
